.store {
  display: none;
}

.prices {
  display: flex;
  justify-content: space-between;
  margin: var(--space-1);
  grid-area: prices;
}
.prices a {
  color: var(--color-text);
}

@media(min-width: 1224px) {
  .prices {
    flex-direction: column;
    gap: var(--space-3);
    margin-left: 100px;
    max-width: 200px;
    justify-content: flex-start;
  }

  .store {
    display: inline-block;
  }

  .price {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }
}
