.legalities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  grid-gap: var(--space-1);
  grid-area: legality;
  font-size: 16px;
  max-width: 300px;
}

.not_legal,
.banned,
.legal,
.restricted {
  border: 1px solid var(--color-mtg-black);
  box-sizing: border-box;
  border-radius: 4px;
}

.not_legal {
  background-color: var(--color-mtg-white);
}
.banned {
  background-color: var(--color-mtg-red);
}
.legal {
  background-color: var(--color-mtg-green);
}
.restricted {
  background-color: var(--color-mtg-blue);
}

.legalitiesHeader {
  grid-column: 1/3;
}
.legalitiesHeader h2 {
  font-size: 1rem;
}

.legalityKey {
  font-size: .75rem;
}
.legalityKey .not_legal,
.legalityKey .banned,
.legalityKey .legal,
.legalityKey .restricted {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  display: inline-block;
  margin-right: .5em;
  vertical-align: middle;
}

@media(min-width: 764px) {
  .legalityKey {
    font-size: 1rem;
  }
}

@media(min-width: 1335px) {
  .legalities {
    margin-left: 100px;
    gap: var(--space-2);
  }
}
