:root {
  --color-mtg-blue: #ABE1FA;
  --color-mtg-red: #F9AC90;
  --color-mtg-white: #FFFBD6;
  --color-mtg-green: #9CD4B0;
  --color-mtg-black: #CCC3C0;
  --color-black: #333333;
  --color-white: #FAFAFA;


  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --color-typeahead-bottom-border: var(--color-mtg-blue);
  --color-typeahead-list-bottom-border: var(--color-mtg-green);
  --color-typeahead-list-background: var(--color-white);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Space Mono', monospace;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
